.feature-book-container{
  position: relative;
}

.featurebook-box
{
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.featurebook{
  background: var(--color-light);
}
.featurebook-info{

  margin-top: 8px;
  margin-bottom: 20px;
}
.feature-book-container .swiper-pagination{
  margin: auto;
  margin-top: 60px;

}
.feature-border{
  margin-top: 56px;
  height: 1px;
  background: var(--color-dark-Ex);
  width: 100%;
}

.feature-btn{
  margin: auto;
  margin-right: 0;
  margin-top: -40px;
}
.feature-btn .btn:hover{
  padding-left: 35px;
}
.feature-btn .btn{
  padding-left: 0;
}

.feature-border{
 margin-top: 56px;
 height: 1px;
 background: var(--color-primary);
 width: 100%;
}

@media (max-width:1024px) {

  .feature-btn{
    margin: auto;
    margin-top: 0;
  }
}