.BestSellingBoo{
  position: relative;
  overflow: hidden;
  background:  var(--color-bg-2);
}

.treeshape{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}

.bestselling-container{
  width: 74 !important;
  display: grid;
  grid-template-columns: 38% auto;
  gap: 100px;
  align-items: center;
  position: relative;
}

.selling-book-right{
  position: relative;
  z-index: 1;
}

.sellingBookTitle{
  margin-bottom: 50px;
}

.selling-book-right>div small{
text-transform: uppercase;
}
.selling-book-right h5{
  margin-top: 35px;
  margin-bottom: 40px;

}

.selling-book-right h3{
  margin-top: 20px;
  margin-bottom: 10px;
}

.selling-book-right .btn{
  padding-left: 0;
}
.selling-book-right .btn:hover{
  padding-left: 35px;
}


@media(max-width:1200px)
{
  .bestselling-container{
    gap: 80px;
    width: 86% !important;

  }
}

@media(max-width:1024px)
{
  .bestselling-container{
    gap: 40px;
    width: 90% !important;
  }
  .sellingBookTitle{
    margin-bottom:30px ;

  }
  .selling-book-right h5{
    margin-top: 25px;
    margin-bottom: 30px;
  
  }
  
  .selling-book-right h3{
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media(max-width:1024px){
  .bestselling-container{
    gap: 0 ;
    grid-template-columns: 1fr;
  }
  .selling-book-left{
    width: 60%;
    margin: 0 auto;
  }
  .selling-book-right{
    text-align: center;
  }
  .selling-book-right .btn{
   margin: auto;  
  }
}